<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iie.cas.dao.gbase.MAILGKZBMapper">
  <resultMap id="BaseResultMap" type="iie.cas.po.MAILGKZBLogPo">
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="BHSJ" jdbcType="VARCHAR" property="bhsj" />
    <result column="PZID" jdbcType="VARCHAR" property="pzid" />
    <result column="FLID" jdbcType="INTEGER" property="flid" />
    <result column="XZID" jdbcType="INTEGER" property="xzid" />
    <result column="LHID" jdbcType="INTEGER" property="lhid" />
    <result column="YDY" jdbcType="VARCHAR" property="ydy" />
    <result column="MDDY" jdbcType="VARCHAR" property="mddy" />
    <result column="PZLX" jdbcType="SMALLINT" property="pzlx" />
    <result column="GKLB" jdbcType="SMALLINT" property="gklb" />
    <result column="YYZL" jdbcType="TINYINT" property="yyzl" />
    <result column="QDJIP" jdbcType="INTEGER" property="qdjip" />
    <result column="SIP" jdbcType="VARCHAR" property="sip" />
    <result column="DIP" jdbcType="VARCHAR" property="dip" />
    <result column="SPORT" jdbcType="INTEGER" property="sport" />
    <result column="DPORT" jdbcType="INTEGER" property="dport" />
    <result column="PROTOCOL" jdbcType="INTEGER" property="protocol" />
    <result column="PROTO_ID" jdbcType="VARCHAR" property="protoId" />
    <result column="DETAIL_ID" jdbcType="VARCHAR" property="detailId" />
    <result column="MAIL_SENDER" jdbcType="VARCHAR" property="mailSender" />
    <result column="RECEVER_NUM" jdbcType="INTEGER" property="receverNum" />
    <result column="CC_NUM" jdbcType="INTEGER" property="ccNum" />
    <result column="MAIL_SUBJECT" jdbcType="VARCHAR" property="mailSubject" />
    <result column="ACCESSORY" jdbcType="INTEGER" property="accessory" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_CONTENT" jdbcType="VARCHAR" property="fileContent" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="FJFWS" jdbcType="VARCHAR" property="fjfws" />
    <result column="FJFWS_SZD" jdbcType="INTEGER" property="fjfwsSzd" />
    <result column="SJFWS" jdbcType="VARCHAR" property="sjfws" />
    <result column="SJFWS_SZD" jdbcType="VARCHAR" property="sjfwsSzd" />
    <result column="XYLX" jdbcType="VARCHAR" property="xylx" />
    <result column="GJZ" jdbcType="VARCHAR" property="gjz" />
    <result column="YYS" jdbcType="INTEGER" property="yys" />
    <result column="YL1" jdbcType="INTEGER" property="yl1" />
    <result column="YL2" jdbcType="INTEGER" property="yl2" />
    <result column="YL3" jdbcType="VARCHAR" property="yl3" />
    <result column="YL4" jdbcType="VARCHAR" property="yl4" />
    <result column="YL5" jdbcType="VARCHAR" property="yl5" />
    <result column="MAIL_RECEVER" jdbcType="LONGVARCHAR" property="mailRecever" />
    <result column="MAIL_CC" jdbcType="LONGVARCHAR" property="mailCc" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Blob_Column_List">
    MAIL_RECEVER, MAIL_CC, CONTENT
  </sql>
  <select id="SelectAll" resultMap="BaseResultMap"  >
		SELECT * FROM MAIL_GKZB WHERE 1=1
		<if test="startTime !=null and startTime !='' ">
			and BHSJ&gt;#{startTime} 
		</if>
		<if test="endTime !=null and endTime !='' ">
			and BHSJ &lt;	#{endTime}
		</if>
		<if test="PZID != null and PZID !='' ">
			and PZID=#{PZID}
		</if>
		<if test="YYS !=null and YYS !='' ">
			and YYS=#{YYS}
		</if>
		<if test="LHID != null and LHID !='' ">
			and LHID=#{LHID}
		</if>
		<if test="QXDY != null and QXDY.size() >0 ">
			AND (MDDY IN  
			<foreach item="item" index="index" collection="QXDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>
        OR  YDY IN  
			<foreach item="item" index="index" collection="QXDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>)
		</if>
		<if test="YDY != null and YDY.length >0">
			AND YDY IN  
			<foreach item="item" index="index" collection="YDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>
		</if>
		<if test="MDDY != null and MDDY.length >0 ">
			AND MDDY IN  
			<foreach item="item" index="index" collection="MDDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>
		</if>
		<if test="PZLX != null and PZLX !='' ">
			and PZLX=#{PZLX}
		</if>
		<if test="GKLB != null and GKLB !='' ">
			AND GKLB IN (#{GKLB})
		</if>
		<if test="SIP != null and SIP !='' ">
			and SIP=#{SIP}
		</if>
		<if test="DIP != null and DIP !='' ">
			and DIP=#{DIP}
		</if>
		<if test="SPORT != null ">
			and SPORT=#{SPORT}
		</if>
		<if test="DPORT != null  ">
			and DPORT=#{DPORT}
		</if>
		<if test="PROTOCOL != null and PROTOCOL !='' ">
			and PROTOCOL=#{PROTOCOL}
		</if>
		
		<if test="LABEL != null and LABEL.length >0 ">
			<foreach item="item" index="index" collection="LABEL" 
                         open="" separator="" close="">
             AND LABEL like  CONCAT('%',#{item},'%')
        </foreach>
        </if>
		<if test="QDJIP != null and QDJIP !='' ">
			and QDJIP=#{QDJIP}
		</if>
		<if test="FILE_NAME != null and FILE_NAME !='' ">
			and FILE_NAME=#{FILE_NAME}
		</if>
		<if test="RECEVER_NUM != null and RECEVER_NUM !='' ">
			and RECEVER_NUM=#{RECEVER_NUM}
		</if>
		<if test="MAIL_RECEVER != null and MAIL_RECEVER !='' ">
			and MAIL_RECEVER=#{MAIL_RECEVER}
		</if>
		<if test="SJFWS != null and SJFWS !='' ">
			and SJFWS=#{SJFWS}
		</if>
		<if test="CONTENT != null and CONTENT !='' ">
			and CONTENT=#{CONTENT}
		</if>
		<if test="MAIL_SUBJECT != null and MAIL_SUBJECT !='' ">
			and MAIL_SUBJECT=#{MAIL_SUBJECT}
		</if>
		<if test="MAIL_SENDER != null and MAIL_SENDER !='' ">
			and MAIL_SENDER=#{MAIL_SENDER}
		</if>
		<if test="SJFWS_SZD != null and SJFWS_SZD !='' ">
			and SJFWS_SZD=#{SJFWS_SZD}
		</if>
		<if test="FJFWS_SZD != null and FJFWS_SZD !='' ">
			and FJFWS_SZD=#{FJFWS_SZD}
		</if>
		<if test="CC_NUM != null and CC_NUM !='' ">
			and CC_NUM=#{CC_NUM}
		</if>
		<if test="YYZL != null and YYZL !='' ">
			AND YYZL IN (#{YYZL})
		</if>
		<if test="FJFWS != null and FJFWS !='' ">
			and FJFWS=#{FJFWS}
		</if>
		<if test="XYLX != null and XYLX !='' ">
			and XYLX=#{XYLX}
		</if>
		<if test="GJZ != null and GJZ !='' ">
			and GJZ=#{GJZ}
		</if>
		<if test="PWD != null and PWD !='' ">
			and PWD=#{PWD}
		</if>
		<if test="ACCESSORY != null and ACCESSORY !='' ">
			and ACCESSORY=#{ACCESSORY}
		</if>
		<if test="FILE_CONTENT != null and FILE_CONTENT !='' ">
			and FILE_CONTENT=#{FILE_CONTENT}
		</if>
		<if test="MAIL_CC != null and MAIL_CC !='' ">
			and MAIL_CC=#{MAIL_CC}
		</if>
		
		ORDER BY BHSJ DESC LIMIT #{start},#{length}
	</select>
	 <select id="SelectCount" resultType="java.lang.Integer" >
		SELECT COUNT(*) FROM MAIL_GKZB where 1=1 
		 <if test="startTime !=null and startTime !='' ">
			and BHSJ&gt;#{startTime} 
		</if>
		<if test="YYS !=null and YYS !='' ">
			and YYS=#{YYS}
		</if>
		<if test="endTime !=null and endTime !='' ">
			and BHSJ &lt;	#{endTime}
		</if>
		<if test="PZID != null and PZID !='' ">
			and PZID=#{PZID}
		</if>
		<if test="LHID != null and LHID !='' ">
			and LHID=#{LHID}
		</if>
		<if test="QXDY != null and QXDY.size() >0 ">
			AND (MDDY IN  
			<foreach item="item" index="index" collection="QXDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>
        OR  YDY IN  
			<foreach item="item" index="index" collection="QXDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>)
		</if>
		<if test="YDY != null and YDY.length >0">
			AND YDY IN  
			<foreach item="item" index="index" collection="YDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>
		</if>
		<if test="MDDY != null and MDDY.length >0 ">
			AND MDDY IN  
			<foreach item="item" index="index" collection="MDDY" 
                         open="(" separator="," close=")">
                        #{item}
        </foreach>
		</if>
		<if test="PZLX != null and PZLX !='' ">
			and PZLX=#{PZLX}
		</if>
		<if test="GKLB != null and GKLB !='' ">
			AND GKLB IN (#{GKLB})
		</if>
		<if test="SIP != null and SIP !='' ">
			and SIP=#{SIP}
		</if>
		<if test="DIP != null and DIP !='' ">
			and DIP=#{DIP}
		</if>
		<if test="SPORT != null ">
			and SPORT=#{SPORT}
		</if>
		<if test="DPORT != null ">
			and DPORT=#{DPORT}
		</if>
		<if test="PROTOCOL != null and PROTOCOL !='' ">
			and PROTOCOL=#{PROTOCOL}
		</if>
		
		<if test="LABEL != null and LABEL.length >0 ">
			<foreach item="item" index="index" collection="LABEL" 
                         open="" separator="" close="">
             AND LABEL like  CONCAT('%',#{item},'%')
        </foreach>
        </if>
		<if test="QDJIP != null and QDJIP !='' ">
			and QDJIP=#{QDJIP}
		</if>
		<if test="FILE_NAME != null and FILE_NAME !='' ">
			and FILE_NAME=#{FILE_NAME}
		</if>
		<if test="RECEVER_NUM != null and RECEVER_NUM !='' ">
			and RECEVER_NUM=#{RECEVER_NUM}
		</if>
		<if test="MAIL_RECEVER != null and MAIL_RECEVER !='' ">
			and MAIL_RECEVER=#{MAIL_RECEVER}
		</if>
		<if test="SJFWS != null and SJFWS !='' ">
			and SJFWS=#{SJFWS}
		</if>
		<if test="CONTENT != null and CONTENT !='' ">
			and CONTENT=#{CONTENT}
		</if>
		<if test="MAIL_SUBJECT != null and MAIL_SUBJECT !='' ">
			and MAIL_SUBJECT=#{MAIL_SUBJECT}
		</if>
		<if test="MAIL_SENDER != null and MAIL_SENDER !='' ">
			and MAIL_SENDER=#{MAIL_SENDER}
		</if>
		<if test="SJFWS_SZD != null and SJFWS_SZD !='' ">
			and SJFWS_SZD=#{SJFWS_SZD}
		</if>
		<if test="FJFWS_SZD != null and FJFWS_SZD !='' ">
			and FJFWS_SZD=#{FJFWS_SZD}
		</if>
		<if test="CC_NUM != null and CC_NUM !='' ">
			and CC_NUM=#{CC_NUM}
		</if>
		<if test="YYZL != null and YYZL !='' ">
			AND YYZL IN (#{YYZL})
		</if>
		<if test="FJFWS != null and FJFWS !='' ">
			and FJFWS=#{FJFWS}
		</if>
		<if test="XYLX != null and XYLX !='' ">
			and XYLX=#{XYLX}
		</if>
		<if test="GJZ != null and GJZ !='' ">
			and GJZ=#{GJZ}
		</if>
		<if test="PWD != null and PWD !='' ">
			and PWD=#{PWD}
		</if>
		<if test="ACCESSORY != null and ACCESSORY !='' ">
			and ACCESSORY=#{ACCESSORY}
		</if>
		<if test="FILE_CONTENT != null and FILE_CONTENT !='' ">
			and FILE_CONTENT=#{FILE_CONTENT}
		</if>
		<if test="MAIL_CC != null and MAIL_CC !='' ">
			and MAIL_CC=#{MAIL_CC}
		</if>
	</select>
  <insert id="insert" parameterType="iie.cas.po.MAILGKZBLogPo">
    insert into mail_gkzb (BHSJ, PZID, FLID, 
      XZID, LHID, YDY, MDDY, 
      PZLX, GKLB, YYZL, 
      QDJIP, SIP, DIP, SPORT, 
      DPORT, PROTOCOL, PROTO_ID, 
      DETAIL_ID, MAIL_SENDER, RECEVER_NUM, 
      CC_NUM, MAIL_SUBJECT, ACCESSORY, 
      FILE_NAME, FILE_CONTENT, PWD, 
      FJFWS, FJFWS_SZD, SJFWS, 
      SJFWS_SZD, XYLX, GJZ, 
      YYS, YL1, YL2, YL3, 
      YL4, YL5, MAIL_RECEVER, 
      MAIL_CC, CONTENT,LABEL)
    values (#{bhsj,jdbcType=TIMESTAMP}, #{pzid,jdbcType=VARCHAR}, #{flid,jdbcType=INTEGER}, 
      #{xzid,jdbcType=INTEGER}, #{lhid,jdbcType=INTEGER}, #{ydy,jdbcType=VARCHAR}, #{mddy,jdbcType=VARCHAR}, 
      #{pzlx,jdbcType=SMALLINT}, #{gklb,jdbcType=SMALLINT}, #{yyzl,jdbcType=TINYINT}, 
      #{qdjip,jdbcType=INTEGER}, #{sip,jdbcType=VARCHAR}, #{dip,jdbcType=VARCHAR}, #{sport,jdbcType=INTEGER}, 
      #{dport,jdbcType=INTEGER}, #{protocol,jdbcType=INTEGER}, #{protoId,jdbcType=VARCHAR}, 
      #{detailId,jdbcType=VARCHAR}, #{mailSender,jdbcType=VARCHAR}, #{receverNum,jdbcType=INTEGER}, 
      #{ccNum,jdbcType=INTEGER}, #{mailSubject,jdbcType=VARCHAR}, #{accessory,jdbcType=INTEGER}, 
      #{fileName,jdbcType=VARCHAR}, #{fileContent,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{fjfws,jdbcType=VARCHAR}, #{fjfwsSzd,jdbcType=INTEGER}, #{sjfws,jdbcType=VARCHAR}, 
      #{sjfwsSzd,jdbcType=VARCHAR}, #{xylx,jdbcType=VARCHAR}, #{gjz,jdbcType=VARCHAR}, 
      #{yys,jdbcType=INTEGER}, #{yl1,jdbcType=INTEGER}, #{yl2,jdbcType=INTEGER}, #{yl3,jdbcType=VARCHAR}, 
      #{yl4,jdbcType=VARCHAR}, #{yl5,jdbcType=VARCHAR}, #{mailRecever,jdbcType=LONGVARCHAR}, 
      #{mailCc,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR},#{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="iie.cas.po.MAILGKZBLogPo">
    insert into mail_gkzb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bhsj != null">
        BHSJ,
      </if>
      <if test="pzid != null">
        PZID,
      </if>
      <if test="flid != null">
        FLID,
      </if>
      <if test="xzid != null">
        XZID,
      </if>
      <if test="lhid != null">
        LHID,
      </if>
      <if test="ydy != null">
        YDY,
      </if>
      <if test="mddy != null">
        MDDY,
      </if>
      <if test="pzlx != null">
        PZLX,
      </if>
      <if test="gklb != null">
        GKLB,
      </if>
      <if test="yyzl != null">
        YYZL,
      </if>
      <if test="qdjip != null">
        QDJIP,
      </if>
      <if test="sip != null">
        SIP,
      </if>
      <if test="dip != null">
        DIP,
      </if>
      <if test="sport != null">
        SPORT,
      </if>
      <if test="dport != null">
        DPORT,
      </if>
      <if test="protocol != null">
        PROTOCOL,
      </if>
      <if test="protoId != null">
        PROTO_ID,
      </if>
      <if test="detailId != null">
        DETAIL_ID,
      </if>
      <if test="mailSender != null">
        MAIL_SENDER,
      </if>
      <if test="receverNum != null">
        RECEVER_NUM,
      </if>
      <if test="ccNum != null">
        CC_NUM,
      </if>
      <if test="mailSubject != null">
        MAIL_SUBJECT,
      </if>
      <if test="accessory != null">
        ACCESSORY,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileContent != null">
        FILE_CONTENT,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="fjfws != null">
        FJFWS,
      </if>
      <if test="fjfwsSzd != null">
        FJFWS_SZD,
      </if>
      <if test="sjfws != null">
        SJFWS,
      </if>
      <if test="sjfwsSzd != null">
        SJFWS_SZD,
      </if>
      <if test="xylx != null">
        XYLX,
      </if>
      <if test="gjz != null">
        GJZ,
      </if>
      <if test="yys != null">
        YYS,
      </if>
      <if test="yl1 != null">
        YL1,
      </if>
      <if test="yl2 != null">
        YL2,
      </if>
      <if test="yl3 != null">
        YL3,
      </if>
      <if test="yl4 != null">
        YL4,
      </if>
      <if test="yl5 != null">
        YL5,
      </if>
      <if test="mailRecever != null">
        MAIL_RECEVER,
      </if>
      <if test="mailCc != null">
        MAIL_CC,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bhsj != null">
        #{bhsj,jdbcType=TIMESTAMP},
      </if>
      <if test="pzid != null">
        #{pzid,jdbcType=VARCHAR},
      </if>
      <if test="flid != null">
        #{flid,jdbcType=INTEGER},
      </if>
      <if test="xzid != null">
        #{xzid,jdbcType=INTEGER},
      </if>
      <if test="lhid != null">
        #{lhid,jdbcType=INTEGER},
      </if>
      <if test="ydy != null">
        #{ydy,jdbcType=VARCHAR},
      </if>
      <if test="mddy != null">
        #{mddy,jdbcType=VARCHAR},
      </if>
      <if test="pzlx != null">
        #{pzlx,jdbcType=SMALLINT},
      </if>
      <if test="gklb != null">
        #{gklb,jdbcType=SMALLINT},
      </if>
      <if test="yyzl != null">
        #{yyzl,jdbcType=TINYINT},
      </if>
      <if test="qdjip != null">
        #{qdjip,jdbcType=INTEGER},
      </if>
      <if test="sip != null">
        #{sip,jdbcType=VARCHAR},
      </if>
      <if test="dip != null">
        #{dip,jdbcType=VARCHAR},
      </if>
      <if test="sport != null">
        #{sport,jdbcType=INTEGER},
      </if>
      <if test="dport != null">
        #{dport,jdbcType=INTEGER},
      </if>
      <if test="protocol != null">
        #{protocol,jdbcType=INTEGER},
      </if>
      <if test="protoId != null">
        #{protoId,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="mailSender != null">
        #{mailSender,jdbcType=VARCHAR},
      </if>
      <if test="receverNum != null">
        #{receverNum,jdbcType=INTEGER},
      </if>
      <if test="ccNum != null">
        #{ccNum,jdbcType=INTEGER},
      </if>
      <if test="mailSubject != null">
        #{mailSubject,jdbcType=VARCHAR},
      </if>
      <if test="accessory != null">
        #{accessory,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileContent != null">
        #{fileContent,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="fjfws != null">
        #{fjfws,jdbcType=VARCHAR},
      </if>
      <if test="fjfwsSzd != null">
        #{fjfwsSzd,jdbcType=INTEGER},
      </if>
      <if test="sjfws != null">
        #{sjfws,jdbcType=VARCHAR},
      </if>
      <if test="sjfwsSzd != null">
        #{sjfwsSzd,jdbcType=VARCHAR},
      </if>
      <if test="xylx != null">
        #{xylx,jdbcType=VARCHAR},
      </if>
      <if test="gjz != null">
        #{gjz,jdbcType=VARCHAR},
      </if>
      <if test="yys != null">
        #{yys,jdbcType=INTEGER},
      </if>
      <if test="yl1 != null">
        #{yl1,jdbcType=INTEGER},
      </if>
      <if test="yl2 != null">
        #{yl2,jdbcType=INTEGER},
      </if>
      <if test="yl3 != null">
        #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null">
        #{yl4,jdbcType=VARCHAR},
      </if>
      <if test="yl5 != null">
        #{yl5,jdbcType=VARCHAR},
      </if>
      <if test="mailRecever != null">
        #{mailRecever,jdbcType=LONGVARCHAR},
      </if>
      <if test="mailCc != null">
        #{mailCc,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>